<p-dataTable [value]="joinings" [rows]="10" [pageLinks]="3" [responsive]="true" [stacked]="stacked">
  <p-header>Joinings</p-header>
  <p-column field="name" header="Name" [filter]="true" filterPlaceholder="Search by Name..."></p-column>
   <p-column field="joiningDate" header="Joining Date" [sortable]="true">
    <template pTemplate="body" let-joining="rowData">
      {{joining.joiningDate | date}}
    </template>
  </p-column>
  <p-column field="age" header="Age"></p-column>
</p-dataTable>
